- server = local_assigns.fetch(:server)

= form_tag(omniauth_callback_path(:user, server['provider_name']), id: 'new_ldap_user', class: "gl-show-field-errors") do
  .form-group
    = label_tag :username, "#{server['label']} 用户名"
    = text_field_tag :username, nil, { class: "form-control top qa-username-field", title: "必填项", autofocus: "autofocus", required: true }
  .form-group
    = label_tag :password, "密码"
    = password_field_tag :password, nil, { class: "form-control bottom qa-password-field", title: "必填项", required: true }
  - if devise_mapping.rememberable?
    .remember-me
      %label{ for: "remember_me" }
        = check_box_tag :remember_me, '1', false, id: 'remember_me'
        %span 记住我
  = submit_tag "登录", class: "btn-success btn qa-sign-in-button"
