- @no_container = true
- add_to_breadcrumbs "Commits", project_commits_path(@project)
- breadcrumb_title @commit.short_id
- container_class = !fluid_layout && diff_view == :inline ? 'container-limited' : ''
- limited_container_width = fluid_layout ? '' : 'limit-container-width'
- @content_class = limited_container_width
- page_title        "#{@commit.title} (#{@commit.short_id})", "提交"
- page_description  @commit.description

.container-fluid{ class: [limited_container_width, container_class] }
  = render "commit_box"
  = render "ci_menu"
  = render "projects/diffs/diffs", diffs: @diffs, environment: @environment, diff_page_context: "is-commit"

  .limited-width-notes
    = render "shared/notes/notes_with_form", :autocomplete => true
    - if can_collaborate_with_project?(@project)
      - %w(revert cherry-pick).each do |type|
        = render "projects/commit/change", type: type, commit: @commit, title: @commit.title
